MONGODB_URI=
MONGODB_USERNAME=
MONGODB_PASSWORD=
JWT_SECRET=


META_VERIFY_TOKEN
META_APP_SECRET=
META_PAGE_TOKEN


META_ACCESS_TOKEN=
META_LONG_LIVED_ACCESS_TOKEN=


GOOGLE_ADS_CLIENT_ID=
GOOGLE_ADS_CLIENT_SECRET=
GOOGLE_ADS_REFRESH_TOKEN=
GOOGLE_ADS_DEVELOPER_TOKEN=
GOOGLE_ADS_CUSTOMER_ID=


IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=
NEXT_PUBLIC_IMAGEKIT_URL_ENDPOINT=


SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
MAIL_TO=


CLIENT_PORTAL_API_KEY=
CLIENT_PORTAL_ORIGIN=
ZANSERVICES_USER_ID=